{% extends 'base.html.twig' %}
{% block title %}Hardware list{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/BaseHardware.css') }}">{% endblock %}
{% block body %}
    {% block javascripts %}<script type="text/javascript" src="/js/filesaver/libs/FileSaver/FileSaver.min.js"></script>
        <script type="text/javascript" src="/js/filesaver/libs/js-xlsx/xlsx.core.min.js"></script>
        <script type="text/javascript" src="/js/filesaver/tableExport.min.js"></script>
    {% endblock %}
    <h1>Hardware list</h1>
    <div class="panel-body text-right">
                 <a class="btn btn-outline-primary" onclick="$('#hardware-table').tableExport({fileName:'Inventory-export',ignoreColumn: [0],type:'excel',escape:'false'});"><i class="material-icons">add_circle</i>Export to Excel</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-outline-primary" href="{{ path('hardware_new') }}"><i class="material-icons">add_circle_outline</i>Add new</a>
                {% else %}
                {% endif %}
                <table id="hardware-table" class="table table-striped table-bordered table-list">
                    <thead>
                    <tr>
                        <th><em class="fa fa-cog"></em></th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Hostname</th>
                        <th>CPU</th>
                        <th>RAM</th>
                        <th>Reg. Date</th>
                        <th>Owner</th>
                        <th>Seller</th>
                        <th>Location</th>
                        <th>Serial number</th>
                        <th>Office license</th>
                        <th>Windows License</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hardware in hardwares %}
                    <tr>
                        <td align="center">
                            <div class="grid-icon">
                            <a href="{{ path('hardware_show', {'id': hardware.id}) }}"><i class="material-icons">list</i></a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('hardware_edit', {'id': hardware.id}) }}"><i class="material-icons">edit</i></a>
                                {% else %}
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ hardware.Brand }}</td>
                        <td>{{ hardware.Model }}</td>
                        <td>{{ hardware.Hostname }}</td>
                        <td>{{ hardware.CPU }}</td>
                        <td>{{ hardware.RAM }}</td>
                        <td>{{ hardware.Regdate ? hardware.Regdate|date('Y-m-d') : '' }}</td>
                        <td>{{ hardware.Owner }}</td>
                        <td>{{ hardware.Seller }}</td>
                        <td>{{ hardware.Location }}</td>
                        <td>{{ hardware.SerialNumber }}</td>
                        <td>{{ hardware.OfficeLicense }}</td>
                        <td>{{ hardware.WindowsLicense }}</td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="14">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}

