{{ form_start(form, { 'attr': {'class': 'form-signin'} }) }}
    {{ form_row(form.plainPassword.first, {'label':false}) }}
    {{ form_row(form.plainPassword.second, {'label':false}) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}