<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Inventory application">
    <meta name="author" content="Sysadm.es - Víctor Gz">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    {% with %}
    {% set lang = app.user.lang|default ('en_EN') %}
    <h5 class="my-0 mr-md-auto font-weight-normal">Company Name</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if app.User != null %}
            <a class="p-2 text-dark" href="{{ path('issues_index')}}"><i class="material-icons">event_note</i>{% trans into lang %}Issue Manager{% endtrans %}</a>
            <a class="p-2 text-dark" href="{{ path('hardware_index')}}"><i class="material-icons">laptop</i>{% trans into lang %}Manage Hardware{% endtrans %}</a>
                <button class="btn btn-outline-primary" type="button" data-toggle="dropdown">{% trans into lang %}Hello{% endtrans %}!, {{ app.user.username }}<i class="material-icons">arrow_drop_down</i></button>
                
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('profile')}}"><i class="material-icons">person</i>{% trans into lang %}My Profile{% endtrans %}</a></li>
                <ul class="user-sub-menu">
                    <li><a class="dropdown-item" href="{{ path('reset_password')}}"><i class="material-icons">vpn_key</i>{% trans into lang %}Reset Password{% endtrans %}</a></li>
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="dropdown-item" href="{{ path('settings')}}"><i class="material-icons">settings</i>{% trans into lang %}Settings{% endtrans %}</a></li>
                    <li><a class="dropdown-item" href="{{ path('user_index')}}"><i class="material-icons">people</i>{% trans into lang %}Users{% endtrans %}</a></li>
                {% else %}
                {% endif %}
                <li role="separator" class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('logout')}}"><i class="material-icons">https</i>{% trans into lang %}Log out{% endtrans %}</a></li>
            </ul>
        {% else %}
            <a class="btn btn-outline-primary" href="{{ path('login')}}">{% trans into lang %}Login{% endtrans %}</a>
            <a class="btn btn-outline-primary" href="{{ path('user_registration')}}">{% trans into lang %}Sing up{% endtrans %}</a>
        {% endif %}
    </nav>
</div>
<div class="container">
    {% for message in app.session.flashbag() .get('status') %}
        <div class="alert alert-success">{{message}}</div>
    {% endfor %}
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-6 col-md footer-col">
                <h5>{% trans into lang %}Features{% endtrans %}</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">{% trans into lang %}Managing items{% endtrans %}</a></li>
                    <li><a class="text-muted" href="{{ path('documentation') }}">{% trans into lang %}Documentation{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="col-6 col-md footer-col">
                <h5>{% trans into lang %}Resources{% endtrans %}</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{{ path('contact') }}">{% trans into lang %}Contact{% endtrans %}</a></li>
                    <li><a class="text-muted" href="{{ path('privacy_policy') }}">{% trans into lang %}Privacy Policy{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="col-6 col-md footer-col">
                <h5>{% trans into lang %}About{% endtrans %}</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://github.com/VGzsysadm/Inventory-app">{% trans into lang %}GitHub project{% endtrans %}</a></li>
                    <li><a class="text-muted" href="https://sysadm.es">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md copyright-block">
                <small class="d-block mb-3 text-muted">&copy; 2018 {% trans into lang %}application by{% endtrans %} Víctor - sysadm.es</small>
            </div>
        </div>
    </footer> 
</div>
{% endwith %}
</body>
</html>
