{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/baseUser.css') }}">{% endblock %}
<form method="post" class="delete-user" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <a type="button" class="btn btn-secondary" href="{{ path('user_index') }}">Back</a>
    <a type="button" class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
    <button class="btn btn btn-danger">Delete</button>
</form>