{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <div class="panel-body text-right">
    <table class="table table-striped table-bordered table-list">
        <thead>
        <tr>
            <th><em class="fa fa-cog"></em></th>
            <th>Username</th>
            <th>Email</th>
            <th>Is active</th>
            <th>Role assigned</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td align="center">
                    <div class="grid-icon">
                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="material-icons">list</i></a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="material-icons">edit</i></a>
                    </div>
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}